*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background-color: #000;
}
#searchBox{
    width: 90%;
    height: 50px;
    border: 2px solid #fff;
    display: flex;
    flex-flow: row nowrap;
}
#input{
    width: 80%;
    border: none;
    outline: none;
    padding: 0 15px;
}
#searchBtn{
    width: 20%
}
input{
    font-size: 20px;
}
#content{
    width: 90%;
    color: #fff;
    font-size: 20px;
    padding-top: 20px;
    text-align: justify;
}